
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Todo Liste</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link active" routerLink="home">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="todos">Mes Projets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="add-todo">Ajouter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="users">Utilisateur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact</a>
      </li>
    </ul>
    <div class="flex-sm-fill text-sm-end text-white">
      Vous etes connecté depuis {{seconde}} secondes.
    </div>
  </div>
</nav>
